In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/yunjuha/Desktop/SROP/DXA_BIS_Project/narrowed down list/narrowed_down.csv')
df = pd.DataFrame(data)
df = df.dropna()

#creating dummy variables for the age ranges
df['Age_40_50'] = df['RA1PRAGE'].apply(lambda x: 1 if (x >= 40 and x <= 50) else 0)
df['Age_51_61'] = df['RA1PRAGE'].apply(lambda x: 1 if (x >= 51 and x <= 61) else 0)
df['Age_61plus'] = df['RA1PRAGE'].apply(lambda x: 1 if (x >= 61) else 0)

df.head()

,RA4IALM,RA4IMECF,RA4IMICF,RA4IMFFM,RA1PRAGE,RA1PRSEX,RA4P1A,RA1PF7A,RA4IRES0,RA4IRESINF,...,RA4DLBM,RA4DTBBM,RA4DAFM,RA4DLFM,RA4DTBFM,jumppownums,RA4IMaxGrip,Age_40_50,Age_51_61,Age_61plus
0,25.421,19.31,25.29,60.93,72,1,171.4,1,606.846,410.353,...,1199,3169,3216,7484,35695,2.1891,30,0,0,1
1,21.035,17.41,21.71,53.44,31,1,175.4,1,607.062,422.450,...,913,2637,979,3439,10646,2.5226,49,0,0,0
2,33.203,26.80,33.74,82.71,68,1,176.7,1,425.629,294.611,...,1161,3090,3856,8809,38093,3.3433,70,0,0,1
3,30.857,23.96,29.73,73.35,58,1,183.6,1,542.688,378.754,...,1572,4035,2982,10386,39737,3.1401,62,0,1,0
4,17.469,13.19,17.67,42.16,51,2,162.0,1,740.097,538.016,...,879,2533,3067,11748,26422,1.7445,22,0,1,0

In [4]:
#leaving the predictors UNTRANSFORMED and only transforming the targets (log for jp, sqrt for hgs)
df['tjumppownums'] = np.log(df['jumppownums'] + 0.1)
df['tRA4IMaxGrip'] = np.sqrt(df['RA4IMaxGrip'])

df.head()

df.to_csv('narrowed_transformed_data.csv', index = False)